.icon-img {
    width: 20px;
    margin-right: 100px;
}
button {
    border-radius: 50px;
    background: transparent;
}
h2 {
    margin-top: 100px;
}
p {
    margin-bottom: 100px;
}
.login {
    border: 1px solid blue ;
    margin-top: 500px;
    width: 400px;
    margin: auto
}